/*******************
style sheet for index.html
*******************/
html{
  height: auto !important;
}

body {
 background: rgba(000, 000, 000);
 background-size:100%;
 padding:0px;
 margin:0px;
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
 font-weight: 300;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#navigation {
  background: rgb(249, 151, 056);
  width: auto;
}
#navigation ul {
  margin: 0;
  margin-top:360px;   /*180px*/
  -moz-margin-top:360px !important;
  padding: 0;
  line-height: 0;
  display: block;
  zoom: 2;
  list-style: none;
 }
#navigation ul:after {
  content: " ";
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
  display: block;
}
#navigation ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#navigation.align-right ul li {
  float: right;
}
#navigation.align-center ul {
  text-align: center;
}
#navigation ul li a {
  color: rgb( 178, 014, 058);
  text-decoration: none;
  display: block;
  font-size: 15px;
  position: relative;
  padding: 15px 20px;       /*15px 30px*/
  font-family: Impact, Charcoal, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#navigation ul li a:hover {
  color: rgb(000, 000, 000);
}
#navigation ul li a:hover:before {
  width: 100%;
}
#navigation ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 13px;
  height: 6px;
  width: 6px;                   /*prikkene mellom ordene*/
  background: rgb( 178, 014, 058);

}
#navigation ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: rgb(000, 000, 000);
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#navigation ul li.last > a:after,
#navigation ul li:last-child > a:after {
  display: none;
}

@media screen and (max-width: 768px) {
  #navigation ul li {
    float: none;
    display: block;
  }
  #navigation ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #navigation ul li.last > a,
  #navigation ul li:last-child > a {
    border: 0;
  }
  #navigation ul li a:after {
    display: none;
  }
  #navigation ul li a:before {
    display: none;
  }
}
@import url(http://fonts.googleapis.com/css?family=Nosifer);
@media screen and (min-device-width: 1026px) {
html {
 width: 100%;
 padding:0;
}

a {
text-decoration: none;
display: block;
}
#temarammen,iframe {
  width: 100%;
}
#footer p {
  color: #fff;
}
table {
  background-color: rgb(211, 211, 211);
  border:none;
  margin-top: -17px;
  padding:25px 5px;
}
div {
  margin: 0px;
  padding: 0px;
}
ul, ol {
        list-style: none outside none;
        margin: 0px;
        padding: 0px;
    }

#container
{
  top:95px;
}
#container  img {
        width: 100%;
    }
    .promotion-banner {
        height: 80px;
        margin-bottom: 10px;
        overflow: hidden;
        position: relative;
        width: 100%
    }
    .promotion-banner img {
        display: block;
        /*width: 1132px;*/
    }
    .promotion-banner .carousel-pager {
        bottom: 5px;
        margin: 0;
        position: absolute;
        right: 5px;
    }
    .promotion-banner .pgn {
        background-color: rgba(255, 255, 255, 0.5);
        color: #999;
        cursor: pointer;
        display: block;
        float: left;
        font-size: 12px;
        height: 15px;
        line-height: 15px;
        text-align: center;
        width: 15px;
    }
    .promotion-banner .pgn + li {
        margin-left: 5px;
    }
    .promotion-banner .pgn.selected {
        background-color: rgba(255, 102, 0, 0.8);
        color: white;
        font-weight: bold;
    }
    .trans-even{
        -moz-transition: margin-top 1s linear;
        -webkit-transition: margin-top 1s linear;
        -o-transition: margin-top 1s linear;
        transition: margin-top 1s linear;
    }
    .trans-odd{
        -moz-transition: margin-top 1s linear;
        -webkit-transition: margin-top 1s linear;
        -o-transition: margin-top 1s linear;
        transition: margin-top 1s linear;
    }
    footer{
text-align: center;
margin-top: 10px;
}
li {
  list-style: none;
  text-align: center;
}

#publisering p {
  text-transform: uppercase;
}

#indexPublisering p {
  text-align: center;
}

#msg {
  margin-top: -12px;
 }

#askAdmin a {
   text-decoration: underline;
   color: red;
}

#newDIV {
  margin-right: 20px;
  margin-top: 30px;
  width:100%;
}
#narrowbody {
    width:1275px;
   margin-left: auto;
   margin-right: auto;
   margin-top: -260px;
   position: relative;
   text-align: center;
   padding-top: inherit;
}

#tema {
 display: inline-block;
 background-color: rgb(211, 211, 211);
 margin-top: 5px;
}
#tema {
 float: left;
 width: 250px;
}
#temarammen {
  background-size: 0.6%;
  padding:5px;
  }
/*#nav_bar {
 margin-left: auto;
 margin-right: auto;
}*/
#kebabiOslo {
  color: #fff;
}

.titlebar {
  border-radius: 2px;
  height: 25px;
  background-size: 100%;
  margin-top: -14px;
  box-shadow: 0px 1px rgba(255, 255, 255, 0.1) inset, 0px 1px 2px rgba(0, 0, 0, 0.15);
}
.bigtitle {
    position: fixed;
    z-index:99;
    width:100%;
    height: 95px;
    text-align: center;
    background: white;
    top: 0px;
}

#logo {
    background: transparent url("logo_1221760_web.jpg") no-repeat scroll 0% 0%;
    width: 260px;
    margin-left:80px;
    height: 100px;
    text-indent: -3333px;
    border: 0;
    top-margin:0px;
    z-index:120;
    top: 0px;
}

#logo a {
    display: block;
    width: 280px; /* larger than actual image? */
    height: 120px;
    text-decoration: none;
    border: 0;
}
#location {
  position: fixed;
  z-index:150;
  top:70px;
  right: 129px;
  font-weight: 500;
}
#NO,#EN{
  display: inline;
}
#location a {
  color: #fff;
  display: inline;
  width: 100px;
  float: left;
}
#NO a {background: url(image/No.png) no-repeat 43% 48%;
  background-size: 30px 30px;
}
#EN a {background: url(image/En.png) no-repeat 43% 48%;
  background-size: 30px 30px;
}
#EN a:hover {
  color: #000;
  background: url(image/EnHover.png) no-repeat 43% 48%;
  background-size: 30px 30px;
}

#NO a:hover {
  color: #000;
  background: url(image/NoHover.png) no-repeat 43% 48%;
  background-size: 30px 30px;
}
#publisering {
  position: relative;
  margin: 0 30px;
  background: white;
  display: inline-block;
  padding: 0px;
}
.indexItem-rightsideBar{
  margin-top:4px;
  margin-left:5px;  /*5px*/
  padding: 5px;
  left: 100px;
  width: 94%;   /*94%*/
  float: left;
  height: 100%;
  display: inline-block;
  background: rgb(249, 151, 056);        /*#F5F5F0*/
}
.indexItem-rightsideBar a {
   color: rgb( 178, 014, 058);          /*#0094DE*/
    text-decoration: none;
    font-weight: bold;
}
.indexItem-rightsideBar a:hover {
  color: white;
}

#indexpublisering {
  position: relative;
  margin: 0 30px;
  background: white;
  display: inline-block;
  padding: 0px;
}
.indexItemIn{
  margin-top:4px;
  margin-left:5px;
  padding: 5px;
  width: 48%;
  float: left;
  height: 100%;
  display: inline-block;
  background: #F5F5F0;
}
.indexItemTilbud {
  margin-top:4px;
  margin-left:5px;
  padding: 5px;
  width: 98%;
  float: left;
  height: 100%;
  display: inline-block;
   background: #F5F5F0;
}
/*#publisering ::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}*/
.clear {
    clear: both;
}
.question {
  background-position: 0 10px;
  background: url(//wwwimg.roku.com/hero-images/sprite_meet-roku-wide.png) no-repeat;
}
.TransBG {
  background: url('shadow.png') no-repeat scroll 100% 0px ;
  padding: 14px;
  margin:-4px;
}
.greyBG {
  background-color: #313131;
}
.nav_ul{
display: block;
width: 1008px;
margin: 235px auto 0 auto;
font-size: 18px;
line-height: 20px;
overflow: hidden;
}
.whiteBG {
  background: url('shadow.png') no-repeat scroll 100% 0px rgb(177,177,177);
  min-height: 245px;
}
.left_side table {
  font-size: 92%;
}
.indexItem{
  margin: 5px;
  width: 70%;
  float: left;
  background: #F5F5F0;
  margin-top: 2px;
}
.index-rightsideBar{
  margin: 5px;
  background: #313131;
  width: 27%;   /*26%*/
  float: left;
  margin-left: 12px;
  height: 100%;
  padding: 5px;
}
.IndexitemImg {
  display: inline-block;
  height: 100px;
  width: 30%;
}
.IndexitemImgTilbud{
  display: inline-block;
  height: 100px;
  width: 49%;
}
.item {
  margin: 5px;
  padding: 10px;
  background: #fff;
  width: 47%;
  float: left;
  padding-left: 13px;
  padding-right: 10px;
font-weight: 400;
font-style: normal;
font-size: 13px;
display: block;
height: 46%;
}
#itemImg {
  display: block;
  height: 300px;
  width: 100%;
}
#itemImgMore {
  display: block;
  border: 0;
  height: 24px;
}
#itemImgMap{
  margin-top: 0px;
  display: block;
  height: 50px;
}

#itemLike
{
  display: block;
  padding: 10px;
  margin-top: 5px;

}
#itemImgthumb{
  display: inline-block;
  height: 27px;
}
.itemIn{
  margin-top:4px;
  margin-left:5px;
  padding: 5px;
  width: 47%;
  float: left;
  height: 170px;
  display: inline-block;
  background: #F5F5F0;
}
.lowercase{
  text-transform: lowercase;
}
.fatword{
  font-weight: bold;
}
#newPost,.postKommentar,.msg,#main_a,#narrowbody {
  height: 100%;
}

#twitt{
  float: left;
  /*right: 900px;*/
  margin-left: 0%;
}
#faceb{
  float: left;
  /*right: 900px;*/
  margin-left: 50%;   /*71%*/
  z-index: 200;
  top: 0px;
}
#insta{
  float: left;
  margin-left: 0%;
  z-index: 1;
}
@-moz-document url-prefix(){
  #navigation ul {
    margin: 0;
    margin-top:360px;   /*180px*/
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0){
  #navigation ul{margin-top:180px;}
}
