/*******************
style sheet for forum.php og tema.php
*******************/
@media screen and (min-device-width: 1026px) {
body {
 margin-left:auto;
 margin-right:auto;
 background-size:100%;
 background: rgba(97, 58, 36, 0.3);
 padding-top:0;
 color: white;
 text-align: center;
 }
 h1 {
  font-size: 20px;
 }
 header {
    height:50px;
    background:#F0F0F0;
    width:100%;
    margin:0px auto;
} 
table, th, td {
    border: 0px;
    text-align: center;
    height: 100%; 
}
td {
	width: 30%;
}
iframe { 
  height: 100%; 
  width: 100%;
}
.whiteBG {
  background: #fff;
}
}

